.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 333px;
    top: 77%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Center the element relative to itself */
    background-color: white;
    padding: 20px;
    /* border: 1px solid #ccc; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    z-index: 1000;
    /* Add other styles as needed for your design */
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Ensure the popup is on top of other content */
    display: flex;
    /* Use flexbox for layout */
    flex-direction: column;
    /* Stack child elements vertically */
}


/* Style for the icon */
.iconPopup {
    position: absolute;
    top: 6%;
    left: 88%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
    background: none;
    border: none;
    cursor: pointer;
    color: red
}

/* Styling for the paragraph */
.msg {
    text-align: center;
    /* Center the text horizontally */
    margin: 0;
    /* Remove default margin to align text at the top of the popup */
    flex: 1;
    /* Allow the paragraph to expand and take available vertical space */
    /* margin-bottom: -20px; Adjust the negative margin to move the text up */
}


/* Styling for the cancel button (top-left) */
.cancelBtn {
   background: none;
   border: none;
   cursor: pointer;
   position: absolute; /* Set the position to absolute */
   top: 12px; /* Adjust the top value as needed to move the button up */
   left: 10px; /* Adjust the left value as needed to move the button left */     
}

.iconPopupNext {
   position: absolute;
    top: 75%;
    /* Adjust the top value to center the icon vertically */
    left: 94%;
    /* Adjust the left value to center the icon horizontally */
    transform: translate(-50%, -50%);
    /* Center the icon precisely */
    font-size: 23px;
    /* Adjust the font size of the icon */
    color: black;
    /* Set the color of the icon */
    border-radius: 50%;
    /* Make the icon a circle (optional) */
    padding: 4px;
    /* Add padding to the icon (optional) */
}

.modal {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: -10%;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3); 
   z-index: 1; /* Ensure the modal is above everything else */
 }
 
 .modal-content {
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
 }
 
 .close {
   position: absolute;
   top: 10px;
   right: 30;
   cursor: pointer;
 }

 h4 {
   text-align: center;
 }