/* Navbar.css */
.navbar {
    background-color: white;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  li {
    padding: 0 20px;
    line-height: 50px;
    cursor: pointer;
  }

  /* CSS for the navigation menu */
.scrollable-container {
    width: 100%;
    max-height: 300px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .scrollable-container::-webkit-scrollbar {
    display: none;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5px; /* Adjusted padding */
    /* border-bottom: 1px solid #ddd; */
    font-size: 13px;
  }
  
  .nav-icon {
    font-size: 20px;
    margin-bottom: -5px; /* Space between icon and text */
  }

  .nav-text {
    margin-top: -18px;
  }
  
  .custom-image {
    width: 380px;
    height: auto;
  }

  /* styles.css */
.no-link-style {
    text-decoration: none;
    color: inherit; /* Inherit the color from parent */
    /* Add any other styling you want to remove here */
  }
  