.top-navbar-profile {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  background-color: #FFFFFF;
  border-bottom: rgb(183, 183, 183) solid 1px;
}

.top-navbar-profile h2 {
  font-size: 14px;
  font-weight: 500;
  color: black;
  padding: 0 40px;

}

.top-navbar-profile h2 span {
  font-weight: 700;
  position: relative;
  
}

.top-navbar-profile h2 span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 50%;
  height: 1px;
  background-color: #fff;
  transform: translateX(50%);
  
}


.top-navbar-profile .icon {
  font-size: 16px;
  color: black;
  cursor: pointer;
}
